<footer class="layout-footer">
  <div class="layout-footer__container container">
    <div class="layout-footer__menu">
      <nav class="nav-horizontal">
        <a class="nav-horizontal__link" href="#">About</a>
        <a class="nav-horizontal__link" href="#">Call for Expressions  of Interest</a>
        <a class="nav-horizontal__link" href="#">Events</a>
        <!-- <a class="nav-horizontal__link" href="#">Blueprint</a> -->
        <a class="nav-horizontal__link" href="#">Digital library</a>
      </nav>
    </div>
    <div class="layout-footer__user">
      <nav class="nav-user">
        <a class="nav-user__link" href="#">Login</a>
        <a class="nav-user__link" href="#">Register</a>
      </nav>
    </div>
  </div>
</footer>
