<footer class="layout-footer">
  <div class="layout-footer__container container">
    <div class="layout-footer__menu">
      <nav class="nav-horizontal">
        <a class="nav-horizontal__link" href="#about">About</a>
        <a class="nav-horizontal__link" href="#help">Get help</a>
        <a class="nav-horizontal__link" href="#success-stories">Success stories</a>
      </nav>
    </div>
    <!-- <div class="layout-footer__user">
      <nav class="nav-user">
        <a class="nav-user__link" href="https://digitalcities.ems-carsa.com/login">Login</a>
        <a class="nav-user__link" href="https://digitalcities.ems-carsa.com/user/registration">Register</a>
      </nav>
    </div> -->
  </div>
</footer>

<div class="layout-disclaimer">
  <div class="container">
    <div class="layout-disclaimer__text">
      <img class="layout-disclaimer__logo" src="images/jpg/ec_logo.png" alt="" />
      <strong>Disclaimer: </strong> Reproduction is authorised provided the source is acknowledged. The information and views set out in this website are those of the author(s) and do not necessarily reflect the official opinion of EASME, the European Commission or other European Institutions. EASME does not guarantee the accuracy of the data included in this website. Neither EASME, nor the Commission or any person acting on their behalf may be held responsible for the use which may be made of the information contained therein.
    </div>
  </div>
</div>
