<header class="layout-header">
  <div class="container layout-header__container">
    <div class="layout-header__logo">
      <a href="/" class="logo" title="Home">
        <span class="logo__main">Digital</span>
        <span class="logo__sec">Cities</span>
      </a>
    </div>
    <div class="layout-header__menu">
      <nav class="nav-horizontal">
        <a class="nav-horizontal__link" href="about.html">About</a>
        <a class="nav-horizontal__link" href="call.html">Call for Expressions  of Interest</a>
        <a class="nav-horizontal__link" href="events.html">Events</a>
        <!-- <a class="nav-horizontal__link" href="blueprint.html">Blueprint</a> -->
        <a class="nav-horizontal__link" href="digital-library.html">Digital library</a>
      </nav>
    </div>
    <div class="layout-header__user">
      <nav class="nav-user">
        <a class="nav-user__link" href="#">Login</a>
        <a class="nav-user__link" href="#">Register</a>
      </nav>
    </div>
  </div>
</header>
