<header class="layout-header">
  <div class="container layout-header__container">
    <div class="hamburger" id="hamburger-trigger">
      <i class="icon icon--menu" style="padding-top: 7px;"></i>
      <span class="hamburger__label">Menu</span>
    </div>
    <div class="layout-header__logo">
      <a href="http://digitallytransformyourregion.eu/" class="logo" title="Home">
        <div class="logo__main">Digital</div>
        <div class="logo__sec">Cities <span class="logo__sec-addon">Challenge</span></div>
      </a>
    </div>
    <div class="layout-header__menu">
      <nav class="nav-horizontal">
        <a class="nav-horizontal__link" href="#success-stories">Success stories</a>
        <a class="nav-horizontal__link" href="#help">Get help</a>
      </nav>
    </div>
    <div class="layout-header__user">
      <nav class="nav-user">
        <!-- <a class="nav-user__link is-highlighted" href="https://digitalcities.ems-carsa.com/login">Login</a>
        <a class="nav-user__link" href="https://digitalcities.ems-carsa.com/user/registration" style="">Register</a> -->
        <span class="nav-user__link">
          <img class="nav-user__disclaimer" src="images/jpg/disclimer.jpg" alt="" />
        </span>
      </nav>

    </div>
  </div>
</header>

<div class="hamburger-menu" id="hamburger-menu">
  <div class="hamburger-menu__bar">
    <div class="hamburger-menu__title">Menu</div>
    <nav class="hamburger-menu__menu">
      <a href="#" class="hamburger-menu__menu-item">The Challenge (Open for application)</a>
      <a href="#hta" class="hamburger-menu__menu-item">How to apply</a>
      <a href="#success-stories" class="hamburger-menu__menu-item">Success stories</a>
      <a href="#help" class="hamburger-menu__menu-item">Get Help</a>
      <a href="#hd" class="hamburger-menu__menu-item">Contact Help Desk</a>
      <a href="#hd" class="hamburger-menu__menu-item">Request Webinar</a>
      <a href="http://www.digitallytransformyourregion.eu/critical-attributes-and-key-success-factors/" class="hamburger-menu__menu-item">Critcal attributes and key success factors</a>
      <a href="http://www.digitallytransformyourregion.eu/stakeholder-specific-recommendations/" class="hamburger-menu__menu-item">Stakeholder specific recommendations</a>
    </nav>
  </div>
  <div class="hamburger-menu__overlay" id="hamburger-close"></div>
</div>
