// Section apply
// --------------------------------------------------
.layout-apply
  background-color: $green
  padding: 40px 0
  +breakpoint(tablet)
    padding: 90px 0 65px

.layout-apply__container
  +breakpoint(tablet)
    display: flex
    align-items: flex-start
    padding: 0 33px 0 40px

.layout-apply__text
  p, ul
    font-size: 16px
    line-height: 24px
    margin-bottom: 10px
    color: white
  a,
  li::before
    color: white !important
  a:hover
    text-decoration: underline
  +breakpoint(tablet)
    flex-grow: 1
    padding: 0 60px 0 0
  +breakpoint(desktop)
    padding: 0 130px 0 0

.layout-apply__title
  color: white
  font-size: 36px
  font-weight: $regular
  margin-bottom: 17px

.layout-apply__cfa
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  margin: 40px 0
  +breakpoint(lg-desktop)
    flex-direction: row
    margin-bottom: 0

.layout-apply__help
  font-size: 14px
  color: $light-blue-grey
  a
    white-space: nowrap
  +breakpoint(lg-desktop)
    margin-left: 20px
    text-align: right

.layout-apply__form
  background-color: #fff
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.05)
  padding: 35px 30px 25px
  box-sizing: border-box
  margin: 0 auto
  max-width: 450px
  p
    font-size: 16px
    line-height: 24px
  +breakpoint(tablet)
    min-width: 300px
  +breakpoint(desktop)
    min-width: 450px
    margin: 0
